
<div (window:resize)="onWindowResize($event)" (wheel)="onScroll($event)">
    <div id="info">
        <div class="container">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Species ({{ speciesSeed }})</h5>
                        <button (click)="newSpecies()"       class="btn btn-block btn-danger ">Create New</button>
                        <br/>
                        <h5>Plant ({{ plantSeed }})</h5>
                        <button (click)="generateNewPlant()" class="btn btn-block btn-primary">Create New</button>
                        <button (click)="updatePlant()"      class="btn btn-block btn-primary">Reload</button>
                        <button (click)="onGrow()"           class="btn btn-block btn-primary">Grow</button>
                        <br/>
                        <h5>Leaves</h5>
                        <button (click)="addLeaves()"        class="btn btn-block btn-success">Add Leaves</button>
                        <button (click)="setFall()"          class="btn btn-block btn-success">Set Fall</button>
                        <button (click)="setWinter()"        class="btn btn-block btn-success">Set Winter</button>
                        <button (click)="setSummer()"        class="btn btn-block btn-success">Set Summer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas #canvas></canvas>
</div>
<router-outlet></router-outlet>
