
<div (window:resize)="onWindowResize($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" (wheel)="onScroll($event)">
    <div id="info">
        <div class="container">
            <div class="col-lg-4">
                <form>
                        <div class="form-group">
                            <label>Radius Decrement (Constant)</label>
                            <!-- <mat-slider min="0" max="1" step="0.1" value="{{gen_rad_decrement}}"></mat-slider> -->
                        </div>
                    </form>
                <button (click)="generateNewPlant()" class="btn btn-warning">Regenerate</button>
                <button (click)="onGrow()" class="btn btn-success">Grow</button>
                <button (click)="onLeaf()" class="btn btn-success">Leaves</button>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
    <canvas #canvas></canvas>
</div>
<router-outlet></router-outlet>
