canvas {
    display: block;
}

#info {
	position: absolute;
	/* top: 0%; */
	/* margin-top: -3%; */
	width: 100%;
	/* text-align: center; */
	/* z-index: 99; */
	display:block;
}
#seasons{
	position: absolute;
	 margin-top: -3%; 
}