
<div (window:resize)="onWindowResize($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" (wheel)="onScroll($event)">
    <div id="info">
        <div class="container">
            <div class="col-lg-4">
                <!-- <div class="form-group">
                    <label>seed:<input [(ngModel)]="plantGeneratorSeed" placeholder="seed"/></label>
                </div>
                <div class="form-group">
                    <label>Start Width:<input [(ngModel)]="plantRootWidth" placeholder="width"/></label>
                </div> -->
                <button (click)="generateNewPlant()" class="btn btn-warning">Generate New Plant</button>
                <button (click)="updatePlant()" class="btn btn-primary">Update Plant</button>
                <button (click)="newGenerator()" class="btn btn-danger">New Species</button>
                <button (click)="onGrow()" class="btn btn-success">Grow Plant</button>
            </div>
        </div>
    </div>
    <canvas #canvas></canvas>
</div>
<router-outlet></router-outlet>
